body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
label {
    margin-bottom: 10px;
    font-size: 18px;
}
input[type=range] {
    -webkit-appearance: none;
    width: 400px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    outline: none;
    opacity: 0.9;
    transition: opacity 0.15s ease-in-out;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(255, 254, 254, 0.2);
    background:transparent; 
    border: 2px solid white;
}

input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background: hsl(236, 59%, 34%); 
}

.color-display {
    margin-top: 20px;
    font-size: 18px;
}
